<input list="dataList" name="dataList" ng-model="rule.field.suffix">
<datalist id="dataList"><option ng-repeat="x in rule.field.dsOptions track by $index" value="{{x}}">{{x}}</option></datalist>
<div ng-if="rule.field.type==='object'">
    <input type="text" ng-required="true" ng-model="rule.field.data">
</div>
<div ng-if="rule.field.type!=='object'">
    <div ng-if="!rule.field.suffix || rule.field.suffix==='._current.value'" sf-schema="rule.field.schemaForm" sf-form="rule.field.form" sf-model="rule.field.model">
    </div>
    <input ng-if="rule.field.suffix && rule.field.suffix!=='._current.value'" type="text" ng-required="true" ng-model="rule.field.data">
</div>
</div>