<div class="modal-header ">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <h3 class="modal-title" ng-bind="translate('ADF_COMMON_EDIT_DASHBOARD')">Edit Dashboard</h3>
</div>
<div class="modal-body ">
    <form role="form" name="form" novalidate>
        <div class="form-group col-xs-12 col-md-6">
            <label for="dashboardTitle" ng-bind="translate('ADF_COMMON_TITLE')">Title</label>
            <input type="text" class="form-control text-primary" id="dashboardTitle" ng-model="copy.title" required="true">
        </div>
        <div class="form-group col-xs-12 col-md-6">
            <label for="dashboardDescription" ng-bind="translate('ADF_COMMON_DESCRIPTION')">Description</label>
            <input type="text" class="form-control text-primary" id="dashboardDescription" ng-model="copy.description">
        </div>
        <div class="form-group col-xs-12 col-md-6">
            <label for="icon">Icon</label>
            <ui-select tagging="tagTransform" id="icon" ng-model="copy.icon" theme="bootstrap" allow-clear="false" required="true" on-select="selectIcon($select.selected)" title="Choose icon">
                <ui-select-match placeholder="Choose icon" allow-clear="false">
                    <i class="fa {{$select.selected}} fa-2x"></i> <span>{{$select.selected}}</span>
                </ui-select-match>
                <ui-select-choices class="oux-icon-selector" repeat="iconTmp in availableIcons | filter: $select.search">
                    <i class="fa" ng-class="iconTmp" title="{{iconTmp}}"></i><br/>
                    <span ng-bind-html="iconTmp| highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group col-xs-12">
            <label ng-bind="translate('ADF_EDIT_DASHBOARD_STRUCTURE_LABEL')">Structure</label>
            <div class="row" ng-init="splitted = split(structures, 3)">
                <div class="col-lg-4" ng-repeat="structureColumn in splitted">
                    <div class="radio" ng-repeat="(key, structure) in structureColumn">
                        <div class="row">
                            <div class="col-sm-2">
                                <label>
                  <input type="radio" value="{{key}}" ng-model="model.structure" ng-change="changeStructure(key, structure)">
                </label>
                            </div>
                            <div class="col-sm-9" ng-click="changeStructure(key, structure)">
                                <adf-structure-preview name="key" structure="structure" selected="model.structure == key">
                                </adf-structure-preview>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="col-xs-12">
        <button type="submit" class="btn btn-primary" ng-click="closeDialog()" ng-disabled="form.$invalid" ng-bind="translate('ADF_COMMON_CLOSE')">Close</button>
    </div>
</div>