<div class="modal-header">
  <h4 class="modal-title">
    <span translate>ADF.COMMON.DELETE</span> {{widget.title | translate}}</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="widgetTitle" translate>ADF.WIDGET.LABEL.DELETE_CONFIRM_MESSAGE</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="closeDialog()" translate>ADF.COMMON.CLOSE</button>
  <button type="button" class="btn btn-primary" ng-click="deleteDialog()" translate>ADF.COMMON.DELETE</button>
</div>
