<style>
    .selected-entities-control .ui-select-container>div:first-child {
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

</style>
<form name="widgetSelectionForm" novalidate role="form" ng-submit="saveChangesDialog()">
    <div class="modal-header">
        <div class="col-xs-12 col-md-12">
            <h3 class="modal-title text-left" translate>
                <i class="fa fa-check-square-o" aria-hidden="true"></i> ADF.WIDGET.TITLE.SELECTED_ITEMS</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="col-xs-12">
            <div class="form-group selected-entities-control">
                <label for="currentSelection" translate>ADF.WIDGET.LABEL.CURRENT_SELECTION</label>
                <ui-select multiple tagging ng-model="currentSelection.selected"
                    theme="bootstrap" sortable="false" title="{{'ADF.WIDGET.TITLE.SELECTED_ITEMS' | translated}}">
                    <ui-select-match placeholder="{{'ADF.WIDGET.PLACEHOLDER.NO_SELECTED' | translate}}">
                        <div class="text-left" style="margin-right: 15px;font-size: 0.9em;max-width:350px;" ng-if="$item.value.visible">
                            <span style="white-space: initial;word-break: break-word;" ng-repeat="(k,v) in $item.value.visible track by $index"
                                ng-if="v !== undefined">
                                <strong>{{k}}:</strong> {{v}}
                                <br> </span>
                        </div>
                        <div class="text-left" style="margin-right: 15px;font-size: 0.9em;max-width:350px;" ng-if="!$item.value.visible">
                            <span style="white-space: initial;word-break: break-word;">{{$item.key}}</span>
                        </div>
                    </ui-select-match>
                    <ui-select-choices repeat="itemSel in currentSelection.selected | filter:$select.search"> {{itemSel.key}} </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-xs-12 text-left">
            <button type="button" class="btn btn-success btn-sm" ng-click="restoreSelection()" ng-disabled="currentSelection.selected.length === selectedItemsLength"
                translate>ADF.WIDGET.BUTTON.RESTORE</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="clearSelection()"
                ng-disabled="currentSelection.selected.length < 1" translate>ADF.WIDGET.BUTTON.CLEAR</button>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-xs-12 col-md-2 text-left">
            <div uib-dropdown ng-if="selectionConfig && selectionConfig.filterTypes && currentSelection.selected.length > 0">
                <button id="applyFilterBy" type="button" class="btn btn-primary" uib-dropdown-toggle translate>
                    <i class="glyphicon glyphicon-filter pointer"></i> ADF.WIDGET.BUTTON.FILTER_BY
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="applyFilterBy">
                    <li role="menuitem" ng-repeat="filterType in selectionConfig.filterTypes">
                        <a href="" ng-click="applyFilter(filterType)" title="{{'ADF.WIDGET.BUTTON.SELECTED' | translate:{filterType: filterType} }}">{{'ADF.WIDGET.BUTTON.SELECTED' | translate:{filterType: filterType} }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 text-left">
            <div uib-dropdown ng-if="selectionConfig && selectionConfig.operationTypes  && currentSelection.selected.length > 0">
                <button id="executeOperation" type="button" class="btn btn-primary" uib-dropdown-toggle translate>
                    <i class="glyphicon glyphicon-flash pointer"></i> ADF.WIDGET.BUTTON.EXECUTE_OPERATION
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="executeOperation">
                    <li role="menuitem" ng-repeat="operationType in selectionConfig.operationTypes">
                        <a href="" ng-click="executeOperation(operationType)" title="{{operationType|translate}}">{{operationType|translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-7 text-right">
            <button type="submit" class="btn btn-primary" ng-disabled="currentSelection.selected.length === selectedItemsLength"
                translate ng-value="{{'ADF.WIDGET.BUTTON.APPLY' | translate }}">ADF.WIDGET.BUTTON.APPLY</button>
            <button type="button" class="btn btn-default" ng-click="closeDialog()" translate>ADF.COMMON.CLOSE</button>
        </div>
    </div>
</form>
