<div class="modal-header">
    <div class="pull-right widget-icons">
        <a href="" title="{{ 'ADF.WIDGET.TOOLTIP.CLOSE' |translate }}" ng-click="closeDialog()" class="btn btn-xs btn-danger oux-button-margin">
            <i class="glyphicon glyphicon-remove"></i> {{ 'ADF.WIDGET.TOOLTIP.CLOSE' |translate }}
        </a>
        <a permission permission-only=" 'manageWorkspace' " href="" title="{{ 'ADF.WIDGET.TOOLTIP.INSERT' |translate }}" ng-if="persistDashboard" ng-click="persistDashboard()" class="btn btn-xs btn-primary oux-button-margin">
            <i class="glyphicon glyphicon-save"></i> {{ 'ADF.WIDGET.TOOLTIP.INSERT' |translate }}
        </a>
    </div>
    <h4 class="modal-title pull-left" translate>&nbsp;{{ definition.title | translate}}</h4>
</div>
<div class="modal-body widget" style="overflow:hidden;">
    <!-- <adf-widget-content model="definition" content="widget" /> -->
    <adf-widget-grid definition="definition" edit-mode="false" widget-state="widgetState"></adf-widget-grid>
</div>
<div class="modal-footer" ng-if="widget.show_modal_footer">
    <button type="button" class="btn btn-primary" ng-click="closeDialog()" translate>ADF.COMMON.CLOSE</button>
</div>