<div class="modal-header">
    <div class="pull-right widget-icons">
        <a href="" title="{{ 'ADF.WIDGET.TOOLTIP.CLOSE' |translate }}" ng-click="closeDialog()" class="btn btn-xs btn-danger oux-button-margin">
            <i class="glyphicon glyphicon-remove"></i> {{ 'ADF.WIDGET.TOOLTIP.CLOSE' |translate }} </a>
    </div>
    <h4 class="modal-title pull-left" translate>&nbsp;{{ definition.title | translate}}</h4>
</div>
<div class="modal-body widget">
    <adf-widget-grid class="widget-fullscreen" definition="definition" edit-mode="false" widget-state="widgetState"></adf-widget-grid>
</div>
<div class="modal-footer"></div>